﻿@model UserMng.Context.Student

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <form method="post" asp-controller="Student" asp-action="Edit">
                <input type="hidden" class="form-control" asp-for="StudentId">
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control" asp-for="StudentName" placeholder="Student Name" >
                </div>
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control" asp-for="ClassId" placeholder="Class" >
                </div>
                <input class="btn btn-primary" type="submit" value="Save"/>
                <a class="nav-link text-dark btn btn-primary" asp-area="" asp-controller="Student" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
    
</div>

