﻿@using UserMng.ViewsModel.Student
@model IEnumerable<UserMng.Context.Student>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@* <div class="container-fluid"> *@
@*     <table class="table"> *@
@*         <tr> *@
@*             $1$ <th>ID</th> #1# *@
@*             <th>Name</th> *@
@*             <th>Class</th> *@
@*         </tr> *@
@*          @foreach (var item in Model) *@
@*          { *@
@*              <tr> *@
@*                  $1$ <td> @Html.DisplayFor(modelItem => item.StudentId)</td> #1# *@
@*                  <td> @Html.DisplayFor(modelItem => item.StudentName)</td> *@
@*                  <td> @Html.DisplayFor(modelItem => item.ClassId)</td> *@
@*                  <td> <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a></td> *@
@*                  <td> <a asp-action="Edit" asp-route-id="@item.StudentId"></a></td> *@
@*              </tr> *@
@*          } *@
@*     </table> *@
@* </div> *@
<div class="m-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                     <h2>Student List</h2>
                     <a asp-action="Create" class="btn btn-primary">Create New Student</a>

                  </div>
                  <div class="x_content">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>NAME</th>
                          <th>CLASS</th>
                          <th>NOTE </th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var item in Model)
                          {
                             
                              <tr class="text-left">
                                  @* <td> @Html.DisplayFor(modelItem => item.StudentId)</td> *@
                                  <td> @Html.DisplayFor(modelItem => item.StudentName)</td>
                                  <td> @Html.DisplayFor(modelItem => item.ClassId)</td>
                                  <td>
                                      <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                                      <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>  
                                  </td>
                              </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>