﻿@model System.Collections.Generic.IEnumerable<UserMng.Models.Class>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="m-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                     <h2>Student List</h2>
                     <a asp-action="Create" class="btn btn-primary">Create New Class</a>

                  </div>
                  <div class="x_content">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center">CLASS NAME</th>
                          <th class="text-center">NOTE </th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var item in Model)
                          {
                             
                              <tr class="text-left">
                                  @* <td> @Html.DisplayFor(modelItem => item.StudentId)</td> *@
                                  <td class="text-center"> @Html.DisplayFor(modelItem => item.Classname)</td>
                                  
                                  <td class="text-center">
                                      <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ClassId">  Edit</a>
                                      <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>  
                                  </td>
                              </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
