


/*---------------------------------------
   reset, html, and body style              
-----------------------------------------*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 100%;
}

body {
	background: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #555;
	line-height: 25px;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
}
.bgc-one {
	background-color: #ffffff;
}
.bgc-two {
	background-color: #f3f3f3;
	background: url(../images/rec.png);
	color: #ffffff !important;
	background-size: cover;

}


/*---------------------------------------
   Anchor Link and Bold Text           
-----------------------------------------*/
a {
	text-decoration: none;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: inherit;
	color: inherit;
}

strong {
	font-weight: 700;
}

.strong {
	font-weight: 800;
}


/*---------------------------------------
   Viewport         
-----------------------------------------*/
@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

ul,
ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

/*---------------------------------------
    Background color, Distance, and Line
-----------------------------------------*/

.dark-background {
	background: #323232;
	color: #ffffff;
}

.color-background {
	color: #ffffff;
}

.color-background-second {
	background: #323232;
}

.background-color-white {
	background: #323232;
}

.underline {
	height: 2px;
	width: 100px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.distance{
    height: 50px;
}


/*---------------------------------------
   Typography               
-----------------------------------------*/
h1{
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	margin-bottom: 0;
	margin-top: 0;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	color: #222;
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-size: 2.813rem;
	line-height: 3.75rem;
	font-weight: 500;
}

h2 {
    line-height: 3.125rem;
	font-weight: 500;
	font-size: 2.188rem;
}

h3 {
	line-height: 2.375rem;
	font-weight: 600;
    font-size: 1.5rem;
}

h4 {
	line-height: 2rem;
	font-weight: 600;
    font-size: 1.25rem;
}

h5 {
	line-height: 28px;
	font-weight: 600;
    font-size: 18px;
}

h6 {
	line-height: 25px;
	font-weight: 600;
    font-size: 16px;
}
.navbar-brand {
	font-size: 48px;
	color: #F9BF3B !important;
	font-weight: bold;
}

/*---------------------------------------
   Buttons             
-----------------------------------------*/
.btn:focus,
.btn:active,
.btn,
.open .dropdown-toggle.btn {
	outline: inherit;
	border-color: inherit;
}

.standard-button {
    margin: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: 0;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
    color: #ffffff;
    border-radius: 50px;
}

.secondary-button {
    padding: 10px 30px;
    margin: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 0 !important;
	border: 0;
	border: 1px solid #727272;
	line-height: inherit;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
    color: #ffffff;
}

.standard-button:hover,
.secondary-button:hover {
    color: #323232;
}
.secondary-button:hover {
    color: #323232;
    background: #ffffff;
}
.bg-testimonial p {
	border: 1px solid #F9BF3B;
	border-radius: 10px;
}
/*---------------------------------------
   All Section                
-----------------------------------------*/
.section-about,
.section-features,
.section-pricing,
.section-video,
.section-portfolio,
.section-testimonial,
.section-contact {
	padding-top: 100px;
	padding-bottom: 100px;
}

.background-overlay {
	background: rgba(0, 0, 0, 0.6);
}



/*---------------------------------------
   Header              
-----------------------------------------*/
header {
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}


.container-header {
	padding-top: 47px;
	padding-bottom: 30px;
}


.distance-header {
	margin-top: 100px;
	margin-bottom: 137px;
}

.distance-header .sub-sub {
    font-size: 20px;
    padding-right: 10%;
    padding-left: 10%;
    color: #ffffff;
    margin-top: 40px;
    line-height: 30px;
}

.distance-button {
    margin-top: 75px;
    margin-bottom: 25px;
}

.navbar-header img {
	max-height: 26px;
}


/*---------------------------------------
   Navigation       
-----------------------------------------*/
/* Navigation Reset */
.navbar-nav > li > a:hover {
	background: inherit;
}

.non-sticky .navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.non-sticky .navbar-nav > li > a {
	font-size: 25px;
	padding: 0;
	padding-left: 5px;
	padding-top: 2px;
	color: #333;
}

/* Sticky Navigation */
.sticky-navigation {
	min-height: 75px;
	-webkit-backface-visibility: hidden;
   
}

.sticky-navigation .navbar-header {
	padding-top: 8px;
}

.sticky-navigation .main-navigation {
	padding-top: 13px;
}

.sticky-navigation .main-navigation .current a {
	-webkit-backface-visibility: hidden;
	outline: inherit;
	position: relative;
    border-top: 2px solid transparent;
}

.sticky-navigation .navbar-nav > li > a {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	color: #eee;
    border-top: 2px solid transparent;
    margin: 2px;
}


/*---------------------------------------
   About Product            
-----------------------------------------*/

.side-images {
	max-width: 532px;
    margin-top: 25px;
    padding-top: 20px;
}

.about h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.about p {
	margin-top: 45px;
}

/*---------------------------------------
  About Product Features               
-----------------------------------------*/

.feature-list {
	margin-top: 25px;
}

.feature-list li {
	overflow: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

.feature-list li .icon-custom {
	width: 32px;
	height: 32px;
	border-radius: 3px;
	color: #ffffff;
	line-height: 32px;
	margin-right: 25px;
	text-align: center;
    font-size: 40px;
}

.feature-list li .details {
	width: 89%;
}

.feature-list li .details p {
	margin-top: 5px;
}


/*========================================
   Features             
==========================================*/

.features {
	margin-top: 35px;
    
}

.feature {
	margin-top: 40px;
	margin-bottom: 35px;
}


.feature .icon {
	font-size: 50px;
	margin-bottom: 30px;
}
.feature .icon i{
	border: 2px solid transparent;
    padding: 10px;
    -webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}
.feature h4 {
	margin-bottom: 10px;
}


/*----------------------------------------
   Pricing Table             
------------------------------------------*/

.pricing-table {
	margin-top: 35px;
}

.package {
	overflow: auto;
	margin-top: 60px;
}
.package-center {
	overflow: auto;
	margin-top: 30px;
}

.package-center .header {
	padding-top: 30px;
	padding-bottom: 30px;
}

.package-center .header h3 {
	color: #ffffff;
}

.package .header-dark {
	padding-top: 15px;
	padding-bottom: 15px
}

.package .header-dark h3 {
	color: #ffffff;
}
.package-features {
    background-color: #fff;
    color: #323232
}
.package-features .column-button {
	width: 40%;
    margin: 0 auto;
}

.package-features ul li:nth-child(odd) {
	overflow: auto;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

.package-features ul li:nth-child(even) {
	overflow: auto;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 10px;
	padding-left: 10px;
	padding-left: 10px;
    background-color: #fbfbfb;
}
.package-features .bottom-row {
	overflow: auto;
	padding-top: 8px;
	padding-bottom: 17px;
	padding-right: 35px;
	padding-left: 35px;
}

.package-features .bottom-row h6 {
	padding-top: 5px;
}

.package-features .bottom-row .standard-button {
	margin: 0;
	padding: 10px 20px;
	vertical-align: middle;
    border: 2px solid transparent !important;
}
.package-features .bottom-row .standard-button:hover {
	background-color: #fff;
}
.package-features .bottom-row .secondary-button {
	margin: 0;
	padding: 5px 15px;
	vertical-align: middle;
    border: 1px solid transparent;
}
.package-features .bottom-row .secondary-button:hover {
    background-color: #fff;
}

/*---------------------------------------
   Video         
-----------------------------------------*/

video {
	max-width: 100%;
	height: auto;
}

iframe,
embed,
object {
	max-width: 100%;
}

.container-video {
	width: 100%;
	text-align: left;
}

.video {
	background: #ffffff !important;
}


/*----------------------------------------
   Portfolio             
------------------------------------------*/

.portfolio {
	margin-top: 68px;
}

.portfolio-images {
	margin: 10px;
	border-radius: 2px;
}

.portfolio-images img {
	max-width: 100%;
	width: 100%;
}

.portfolio-images img:hover {
    cursor: zoom-in;
	cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
	opacity: 0.8;
}



/* --------------------------------------
   8. Section Testimonial                 
----------------------------------------- */
.section-testimonial .carousel-indicators {
    bottom: -40px !important;
}
.section-testimonial .testimonial-slide {
	width: 70%;
	margin: auto;
	text-align: center;
	margin-bottom: 70px;
}
.section-testimonial .testimonial-slide .image {
	width: 120px;
	height: 120px;
	margin: auto;
	border: 2px solid #ccc;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 40px;
}


/*---------------------------------------
   Contact US        
-----------------------------------------*/

.contact-us {
	padding-top: 75px;
	padding-bottom: 75px;
}

.contact-us .heading {
	margin-bottom: 10px;
}

/*---------------------------------------
    Contact Form        
-----------------------------------------*/
.contact-form {
	margin-top: 25px;
}

.contact-form .success,
.contact-form .error {
	display: none;
}

.contact-form .input-box,
.contact-form .textarea-box {
	margin-bottom: 15px;
	margin-top: 15px;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 2px solid #aaa;
	color: #727272;
	padding-left: 12px;
	font-size: inherit;
	line-height: auto;
    border-radius: 0 !important;
    -webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.contact-form .input-box {
	min-height: 50px;
}

.contact-form .textarea-box {
	min-height: 200px;
	-webkit-backface-visibility: hidden;
}

.contact-form .input-box:active,
.contact-form .textarea-box:active,
.contact-form .input-box:focus,
.contact-form .textarea-box:focus {
	color: #323232;
}

.contact-form .btn {
	margin-top: 25px;
}
.contact-form .standard-button:hover {
    background-color: #ffffff;
}

/*----------------------------------------
   Footer             
------------------------------------------*/
footer {
	padding-top: 75px;
	padding-bottom: 75px;
}

.copyright {
	margin-top: 15px;
	margin-bottom: 15px;
}

.social-icons li {
	display: inline;
	margin: 2px;
}

.social-icons li a {
	font-size: 30px;
	color: #fff;
    padding: 10px 10px 7px;
}

.social-icons li a:hover {
	text-decoration: none;
}
